sudo: false
notifications:
  irc: "chat.freenode.net#horde"
language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - nightly
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
before_script:
  - export HTTP_TEST_CONFIG='{"http":{"server":"www.google.com"}}';
  - if [ "$TRAVIS_PHP_VERSION" == "7.0" ] || [ $(echo "$TRAVIS_PHP_VERSION 7.0" | tr " " "\n" | sort -V | head -n1) = "7.0" ];
    then
        :
    else
        yes "" | pecl install channel://pecl.php.net/raphf-1.1.2 channel://pecl.php.net/propro-1.0.2 channel://pecl.php.net/pecl_http-2.5.6;
    fi
  - phpenv config-rm xdebug.ini || echo "XDebug not enabled"
  - pear install channel://pear.horde.org/Horde_Test
  - pear install package.xml
script:
  - php $(find test -name AllTests.php)
